@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300;400&display=swap'); /* Import Fonts */

*{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.section{ /* Employee, Map, Tour and Patrol Sections */
    height: 52vh;
    overflow: auto;
}
#map{ /* Div who Holds Map */
    height: 32vh;
}
#emp-tab-div, #pat-tab-div{ /* Employee and Patrol Table */
    height: 70%;
}
#tour-tab-div{ /* Tour Table */
    height: 49%;
}
h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h1{
    letter-spacing: 0.75rem;
}
h2{
    letter-spacing: 0.35rem;
}
.search-input{ /* Search Textbox */
    width: 15vw;
}

#p-hm{ /* Patrol Table - Number of Users on Patrol */
    float: right;
    font-size: 1.15rem;
    color: rgb(255, 49, 83);
}

@media screen and (max-width: 475px) { /* Extra Screen Size Settings */
    .section {
      height: 100vh;
    }
    #map{
        height: 80vh;
    }
}